/* CSS variables */

:root {
    --clr-cyan: #26baa4;
    --clr-cyan-shadow: #1a7f70;
    --clr-blue: #6173ff;
    --clr-blue-shadow: #334bff;
    --clr-gray: #4c545d;
    --clr-white: #9fabb2;
    --clr-footer: #9fabb226;
    --ff: "Bai Jamjuree", sans-serif;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fs-h1: 40px;
    --fs-h2: 30px;
    --fs-h3: 24px;
    --fs-p: 18px;
}

/* General styling */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    color: var(--clr-white);
}

h1,
h2,
h3 {
    color: var(--clr-gray);
    font-weight: var(--fw-semibold);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}


/* Header styling */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: clamp(1600px, 100vw, 9999px) 285px;
    margin-bottom: 80px;
}

.header__img {
    margin: 3.5rem;
}

.header__title {
    margin: 0;
    text-align: center;
    width: clamp(300px, 90vw, 650px);
}

.header__description {
    width: clamp(300px, 90vw, 650px);
    text-align: center;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}

.link-container--second {
    margin-top: 60px;
    margin-bottom: 140px;
}

.link {
    padding: .75em 2em;
    border-radius: 50px;
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: var(--fw-semibold);
}

.link:active {
    transform: translateY(3px);
}

.link::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    transform: translateY(-34px) translateX(-36px);
    width: 218px;
    height: 50px;
    border-radius: 50px;
}

.link:active::after {
    background-color: transparent;
}

.link--ios {
    background-color: var(--clr-cyan);
    margin-right: 25px;
}

.link--ios::after {
    background-color: var(--clr-cyan-shadow);
}

.link--mac {
    background-color: var(--clr-blue);
}

.link--mac::after {
    background-color: var(--clr-blue-shadow);
    width: 224px;
}

/* Main styling */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section {
    width: clamp(300px, 90vw, 700px);
    text-align: center;
}

.features-section {
    display: flex;
    align-items: flex-start;
    margin: 60px 0px 80px 0px;
    width: clamp(300px, 90vw, 1450px);
}

.features-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    width: 100%;
}

.features-section__card {
    width: clamp(300px, 90vw, 400px);
}

.features-section__card:first-of-type {
    margin-top: 40px;
}

.main__image {
    margin: 60px 0px;
    width: clamp(300px, 90vw, 905px);
}

.tools-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 140px;
    width: clamp(300px, 90vw, 1200px);
}

.tools-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: clamp(300px, 100%, 400px);
    min-width: 300px;
    padding: 1em;
}

.tools-section__title {
    margin: 0;
}

.companies-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 90vw, 1200px);
    margin-bottom: 120px;
}

.companies-section__image:last-of-type {
    margin-right: 0px;
}

/* Footer styling */

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--clr-footer);
    padding: 2.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(300px, 90vw, 1400px);
}

.container__img {
    max-height: 75px;
}

.container__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__link {
    text-decoration: none;
    color: var(--clr-gray);
    margin-right: 40px;
}

.container__link:last-of-type {
    margin-right: 0px;
}

.container__link:hover {
    color: var(--clr-cyan);
}

.container__social {
    display: flex;
}

.container__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 24px;
    height: 24px;
}

.container__social-logo {
    position: absolute;
}

.container__social-logo--first {
    z-index: 2;
}

.container__social-logo--first:hover {
    opacity: 0;
}

/* Media Queries */

@media (max-width: 1350px) {
    .features-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features-section__image {
        width: clamp(300px, 90vw, 750px);
    }

    .features-section__container {
        margin-left: 0px;
    }
}

@media (max-width: 950px) {
    .companies-section {
        flex-direction: column;
        min-height: 550px;
    }

    .container {
        flex-direction: column;
    }

    .container__links {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        min-height: 250px;
        margin: 40px 0;
    }

    .container__link {
        margin-right: 0px;
    }

    .container__social-link:last-of-type {
        margin: 0;
    }

    .tools-section {
        margin-bottom: 80px;
    }
}

@media (max-width: 550px) {
    .link {
        width: clamp(300px, 90vw, 360px);
        text-align: center;
    }

    .link::after {
        width: clamp(300px, 90vw, 360px);
    }

    .link--ios {
        margin: 0px;
    }

    .link--mac {
        margin-top: 20px;
    }
}